:root {
  height: 100%;
}

body {
  background-image: url(src/assets/img-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  color: aliceblue;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid rgb(114, 38, 150);
  border-radius: 25px;
}