:root {
  height: 100%;
}

body {
  margin: 0;
  height: 100%; 
}

body {
  background-image: url(src/assets/img.a);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}