.main-items {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 2rem;
    width: 100%;

    input {
        padding: 16px 24px;
        font-size: 1.25rem;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.4);
        color: #e0f7fa;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
        transition: all 0.3s ease;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        flex-grow: 1;
        box-sizing: border-box;
        max-width: 450px;
    }

    input[type="date"]::-webkit-calendar-picker-indicator {
        filter: invert(1);
        cursor: pointer;
    }

    input:focus {
        outline: none;
        border-color: #8aa9ff;
        background-color: rgba(255, 255, 255, 0.2);
        box-shadow: 0 0 15px #8aa9ff;
    }

    input::placeholder {
        color: rgba(255, 255, 255, 0.6);
    }

    button {
        padding: 16px 24px;
        font-size: 1.25rem;
        border-radius: 10px;
        background-color: #1e3a8a;
        border: 1px solid rgba(255, 255, 255, 0.4);
        color: #e0f7fa;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
        transition: all 0.3s ease;
        appearance: none;
        flex-grow: 1;
        box-sizing: border-box;
        max-width: 200px;
        cursor: pointer;
    }

    button:hover {
        transform: translateY(-4px);
        box-shadow: 0 0 15px #8aa9ff;
    }
}

.card-container {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    width: 100%;
    gap: 24px;
    max-height: 400px;
    overflow-y: auto;

    .card {
        width: 100%;
        max-width: 550px;
        padding: 20px 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        word-break: break-word;
        white-space: normal;
        background-color: rgba(255, 255, 255, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.4);
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(10px);
        transition: all 0.3s ease;

        p {
            margin: 0 ;
            font-size: 1.25rem;
            font-weight: 500;
            color: #e0f7fa;
        }

        .date {
            margin-right: 40px;
            word-break: keep-all;
        }

        .delete-btn {
            padding: 10px 14px;
            margin-left: 40px;
            font-size: 1rem;
            border-radius: 10px;
            border: 1px solid rgba(255, 255, 255, 0.4);
            background-color: crimson;
            color: white;
            cursor: pointer;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
            transition: all 0.3s ease;
        }

        .delete-btn:hover {
            background-color: rgb(255, 70, 70);
            transform: translateY(-2px);
        }
    }

    .card:hover {
        transform: translateY(-4px);
        box-shadow: 0 0 15px #8aa9ff;
    }
}

.total-container {
    width: 100%;
    margin-top: 2rem;
    background-color: rgba(30, 58, 138, 0.8);
    color: #e0f7fa;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    backdrop-filter: blur(10px);
    transition: all 0.3s ease;

    p 
}

.total-container:hover {
    transform: translateY(-4px);
    box-shadow: 0 0 15px #8aa9ff;
}

@media (max-width: 768px) {
    .main-items {
        flex-direction: column;
        align-items: stretch;

        input {
            width: 100%;
            flex-grow: 0;
            min-width: auto;
            font-size: 1.1rem;
        }

        .submit {
            max-width: 100%;
        }
    }

    .card-container .card {
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        padding: 18px 20px;
        max-width: 75%;
        text-wrap: wrap;
        
        p {
            font-size: 1.1rem;
        }

        .delete-btn {
            align-self: flex-end;
            padding: 8px 12px;
            font-size: 1rem;
        }
    }
}