.compteur-controls {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 2rem;
    width: 100%;
}

.compteur-controls input {
    padding: 16px 24px;
    font-size: 1.25rem;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.4);
    color:#e0f7fa;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    flex-grow: 1;
    box-sizing: border-box;
    max-width: 450px;
}


input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    cursor: pointer;
}

input:focus {
    outline: none;
    border-color:#8aa9ff;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 15px #8aa9ff;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.submit {
    padding: 16px 24px;
    font-size: 1.25rem;
    border-radius: 10px;
    background-color: #1e3a8a;
    border: 1px solid rgba(255, 255, 255, 0.4);
    color: #e0f7fa;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
    appearance: none;
    flex-grow: 1;
    box-sizing: border-box;
    max-width: 200px;
    cursor: pointer;
}

.submit:hover {
    transform: translateY(-4px);
    box-shadow: 0 0 15px #8aa9ff;
}

.card-container {
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
  border: 2px solid var(--color-primary);
  border-radius: 20px;
  backdrop-filter: blur(var(--blur-intensity));
  padding: 50px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in;

}

@media (max-width: 768px) {
    .compteur-controls {
        flex-direction: column;
        align-items: stretch;
    }

    .compteur-controls input {
        width: 100%;
        flex-grow: 0;
        min-width: auto;
        font-size: 1.1rem;
    }

    .submit {
        max-width: 100%;
    }
}